.menu {
    @include background-image('../assets/foto\ salon\ 2.jpg');

    h3 {
        text-align: center;
        font-family: $fuenteSecundaria;
        color: $colorSecundario;
    }

    p {
        text-align: center;
        font-family: $fuentePrimaria;
        color: $colorTexto;
        padding: 10px;
    }
}

.p {
    @include flex-row;
    justify-content: center;
}
