
.reservas {
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 45rem;
    font-family: $fuentePrimaria;
   

    p {
        color: $colorTexto;
    }

    form {
        padding: 20px;
        color: $colorSecundario;
    }
}
.fondoReservas{
    @include background-image('../assets/foto salon 1.jpg');
   

}
.contenedorCard{
    @include flex-row;
    justify-content: center;
    gap: 10px;

}
article{
    width: 14rem;
}
.contenedorCard p{
    color: $colorPrimario;
    text-align: center;
    font-family: $fuentePrimaria;
}
.card-img-top{
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
}
.card{
    margin-top: 1rem;
    margin-bottom: 5rem;
}
form button {
    width: 100px; 
    padding: 10px;
    margin: 20px auto 0;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
    font-family: $fuentePrimaria;
    transition: background-color 0.5s;
}
form button:hover {
    background-color: $colorBotonHover;
}