@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$colorPrimario: #000c17;
$colorSecundario: #ffdeac;
$colorTexto: white;
$colorBotonHover: rgb(245, 225, 112);
$fuentePrimaria: "DM Sans", serif;
$fuenteSecundaria: "Playfair Display", serif;

@mixin background-image($image) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url($image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}